.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding-left: 5%;
  padding-right: 5%;
  position: sticky;
  top: 0;
  /* backdrop-filter: blur(20px); */
  background-color: rgb(190, 190, 190);
  width: 100%;
  height: 50px;
  z-index: 20;
}

.logoImg {
  padding-right: 10px;
  font-size: 30px;
}

.header-btn {
  border: 2px solid transparent;
  background-color: transparent;
}

.header-btn:hover {
  border-bottom: 2px solid rgb(255, 0, 0);
  cursor: pointer;
  transition: all ease 0.5s;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}
