.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  background-color: red;
  width: 100%;
  z-index: 20;
}

.logoImg {
  padding-right: 10px;
  font-size: 30px;
}

.header-btn {
  border: 2px solid transparent;
  background-color: transparent;
}

.header-btn:hover {
  border-bottom: 2px solid rgb(255, 0, 0);
  cursor: pointer;
  transition: all ease 0.5s;
}

.header-right {
  display: flex;
  align-items: center;
}
