.open-side-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 5px;
  transition: all ease 0.5s;
}

.open-side-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.212);
  transition: all ease 0.5s;
}

.side-menu-open {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.678);
}

.side-menu-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 0px;
  height: 100vh;
}

.side-menu-open2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  height: 100vh;
  width: 250px;
  background-color: rgb(114, 107, 107);
  transition: all ease 0.4s;
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
}

.side-menu-close2 {
  position: absolute;
  right: 0;
  width: 0px;
  height: 100vh;
  top: 50%;
  transform: translate(0%, -50%);
  transition: all ease 0.4s;
  background-color: rgb(114, 107, 107);
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
}

.side-menu-item {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-btn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: transparent;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.side-menu-btn span {
  position: absolute;
  bottom: 0px;
  left: -10px;
  width: 5px;
  height: 100%;
  background-color: rgba(255, 61, 61, 0.637);
  transition: all ease 0.5s;
  border-radius: 5px;
  z-index: -1;
}

.side-menu-btn:hover span {
  width: 100%;
  transition: all ease 0.5s;
}
