.ProductRank {
  margin-bottom: 20px;
}

.ProductRank-section {
  height: 550px;
}

.ProductRank-section > :first-child {
  font-size: 20px;
  height: 50px;
  padding: 10px;
}

.ProductRank-product {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 470px;
}

.ProductRank-product-item {
  background-color: rgba(255, 166, 0, 0.432);
  border: 2px solid rgba(255, 166, 0, 0.432);
  border-radius: 20px;
  width: 30%;
  cursor: pointer;
}

.ProductRank-product-item-img {
  position: relative;
  width: 100%;
  height: 330px;
  border-radius: 20px 20px 0px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ProductRank-product-item-number {
  position: absolute;
  color: red;
  font-size: 40px;
  top: 0;
  left: 10px;
}

.ProductRank-product-item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 16px;
  height: 140px;
}

.slick-dots-bottom {
  bottom: 0 !important;
}

.slick-dots > li {
  background-color: orange !important;
}

.slick-active > button {
  background-color: transparent !important;
}
