.cart-card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.cart-card {
  background-color: red;
  width: 47%;
  height: 150px;
  margin-bottom: 20px;
}

.cart-img {
  width: 150px;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .cart-card-box {
    justify-content: center;
  }
  .cart-card {
    width: 100%;
  }
}
