.main-productList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* border-top: 1px solid rgb(223, 223, 223); */
  /* box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.507); */
}

.main-productList-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.main-view-btn {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  background-color: transparent;
  margin: 5px;
  cursor: pointer;
}

.main-view-on {
  background-color: rgb(255, 120, 120);
}

.main-option {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.main-option > :first-child {
  display: flex;
  flex-direction: row;
}

@media (max-width: 450px) {
  .main-option {
    height: 80px;
  }
  .main-option > :first-child {
    flex-direction: column;
  }
}
